{% extends 'base.html' %} {% block title %}Quotes{% endblock %} {% block content
%}
<h1>Quotes List</h1>
<ul>
  {% for quote in quotes %}
  <li>
    <strong>{{ quote.author.fullname }}</strong>: "{{ quote.quote_text }}"
    <br />
    <em>Tags: {{ quote.tags }}</em>
    <br />
    <a href="{% url 'quotes:quote_detail' quote.pk %}">View Details</a>
    <a href="{% url 'quotes:quote_edit' quote.pk %}">Edit</a>
    <a href="{% url 'quotes:quote_delete' quote.pk %}">Delete</a>
  </li>
  <br />
  {% empty %}
  <li>No quotes available.</li>
  {% endfor %}
</ul>
<a href="{% url 'quotes:add_quote' %}">Add New Quote</a>
{% endblock %}
